{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}




{{ "<!-- Hero Section -->" | safeHTML }}
{{ "<!-- End of Hero Section -->" | safeHTML }}

<div class="bg">
    {{- partial "header.html" . -}}
    {{- partial "_hero.html" . -}}
</div>

<!-- BEGIN section -->
{{- partial "_sec-program.html" . -}}
<!-- END section -->

<!-- BEGIN section -->
{{- partial "_sec-plans.html" . -}}
<!-- END section -->

<!-- BEGIN section -->
{{- partial "_sec-cta.html" . -}}
<!-- END section -->

<!-- BEGIN section -->
 {{- partial "_sec-features.html" . -}}
<!-- END section -->

<!-- BEGIN section -->
{{- partial "_sec-banner.html" . -}}
<!-- END section -->


{{ end }}